<section class="todoapp">
  <header class="header">
    <h1>checking items</h1>
    <h2>是否為有效的問題?</h2>
    <!--
    <h2 *ngIf="!nodata">{{ item.category }}</h2>
    -->
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <ul class="todo-list" *ngIf="!nodata; else nodataTemplate">
      <li>
        <div class="view">
          <div style="flex:4">
            <label>{{ item.question }}</label>
          </div>
          <div style="flex:1">
            <button class="valid" title="Match" (click)="valid(item)"></button>
            <button class="destroy" title="Not Match" (click)="invalid(item)"></button>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <ng-template #nodataTemplate>
      <ul class="todo-list">
        <li>
          <div class="view">
            <div>
              <label>
                  no data
              </label>
            </div>
          </div>
        </li>
      </ul>
  </ng-template>
</section>
<footer class="info">
  <p>Click the buttons to check the above items.</p>
</footer>
