<section class="todoapp">
  <header class="header">
    <h1>questions</h1>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <div style="flex:4">
            <label >我想去東京自由行，怎麼安排行程比較好?</label>
          </div>
          <div style="flex:1">
            <button class="valid" title="Match"></button>
            <button class="destroy" title="Not Match"></button>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
  </footer>
</section>
<footer class="info">
  <p>Click the buttons to check the above items.</p>
</footer>
