<section class="todoapp">
  <header class="header">
    <h1>Check Tool</h1>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Buy a unicorn</label>
          <button class="valid"></button>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Rule the web">
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
  </footer>
</section>
<footer class="info">
  <p>Click one of the buttons to validate the question.</p>
</footer>
